/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: {
            def path = "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}"
            path = meta.containsKey('alignment') ? "${path}/${meta.alignment}" : path
            path = meta.containsKey('id') ? "${path}/${meta.id}" : path
            return path
        },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'NFCORE_PIRA:PIRA:ID3_NOVO:STAR_ALIGN' {
        ext.args = {[
            '--quantMode GeneCounts',
            '--readFilesCommand gunzip -c',
            '--outSAMtype BAM SortedByCoordinate',
        ].join(' ').trim()}
    }

    withName: 'NFCORE_PIRA:PIRA:ID3_DENOVO:STAR_ALIGN' {
        ext.args = {[
            '--quantMode GeneCounts',
            '--readFilesCommand gunzip -c',
            '--outSAMtype BAM SortedByCoordinate',
            '--outSAMstrandField intronMotif'
        ].join(' ').trim()}
    }

    withName: 'NFCORE_PIRA:PIRA:ID7_NOVO:RMATS' {
        ext.args = {[
            '--variable-read-length',
            '--mil 30'
        ].join(' ').trim()}
    }

    withName: 'NFCORE_PIRA:PIRA:ID7_DENOVO:RMATS' {
        ext.args = {[
            '--variable-read-length',
            '--novelSS',
            '--mil 30'
        ].join(' ').trim()}
    }

}
