process {

    withName: 'NFCORE_PIRA:PIRA:GENOME_BED:BED' {
        cpus   = { 2                    }
        memory = { 2.GB * task.attempt  }
        time   = { 30.m * task.attempt  }
    }

    withName: 'NFCORE_PIRA:PIRA:GENOME_INDEX:STAR_GENOMEGENERATE' {
        cpus   = { 2                   }
        memory = { 8.GB * task.attempt }
        time   = { 1.h  * task.attempt }
    }

    withName: 'NFCORE_PIRA:PIRA:SAMPLES:CUSTOM_SRATOOLSNCBISETTINGS' {
        cpus   = { 1                     }
        memory = { 128.MB * task.attempt }
        time   = { 30.m  * task.attempt  }
    }

    withName: 'NFCORE_PIRA:PIRA:SAMPLES:SRATOOLS_PREFETCH' {
        cpus   = { 4                   }
        memory = { 8.GB * task.attempt }
        time   = { 4.h  * task.attempt }
    }

    withName: 'NFCORE_PIRA:PIRA:SAMPLES:SRATOOLS_FASTERQDUMP' {
        cpus   = { 8                    }
        memory = { 12.GB * task.attempt }
        time   = { 4.h  * task.attempt  }
    }

    withName: 'NFCORE_PIRA:PIRA:CTRL1:FASTP' {
        cpus   = { 8                   }
        memory = { 8.GB * task.attempt }
        time   = { 4.h  * task.attempt }
    }

    withName: 'NFCORE_PIRA:PIRA:ALIGNMENT:SJ_FILTER' {
        cpus   = { 1                     }
        memory = { 512.MB * task.attempt }
        time   = { 1.h  * task.attempt   }
    }

    withName: 'NFCORE_PIRA:PIRA:.*:STAR_ALIGN' {
        cpus   = { 16                   }
        memory = { 64.GB * task.attempt }
        time   = { 4.h  * task.attempt  }
    }

    withName: 'NFCORE_PIRA:PIRA:CTRL2:SAMTOOLS_STATS' {
        cpus   = { 2                   }
        memory = { 4.GB * task.attempt }
        time   = { 1.h  * task.attempt }
    }

    withName: 'NFCORE_PIRA:PIRA:CTRL2:SAMTOOLS_INDEX' {
        cpus   = { 2                   }
        memory = { 2.GB * task.attempt }
        time   = { 1.h  * task.attempt }
    }

    withName: 'NFCORE_PIRA:PIRA:CTRL3:RSEQC_INFEREXPERIMENT' {
        cpus   = { 2                   }
        memory = { 8.GB * task.attempt }
        time   = { 1.h  * task.attempt }
    }

    withName: 'NFCORE_PIRA:PIRA:CTRL3:STRANDEDNESS' {
        cpus   = { 1                     }
        memory = { 128.MB * task.attempt }
        time   = { 1.h  * task.attempt   }
    }

    withName: 'NFCORE_PIRA:PIRA:CTRL3:RSEQC_JUNCTIONANNOTATION' {
        cpus   = { 2                   }
        memory = { 8.GB * task.attempt }
        time   = { 1.h  * task.attempt }
    }

    withName: 'NFCORE_PIRA:PIRA:CTRL3:RSEQC_JUNCTIONSATURATION' {
        cpus   = { 2                    }
        memory = { 8.GB * task.attempt  }
        time   = { 1.h  * task.attempt  }
    }

    withName: 'NFCORE_PIRA:PIRA:CTRL3:RSEQC_READDISTRIBUTION' {
        cpus   = { 2                   }
        memory = { 8.GB * task.attempt }
        time   = { 1.h  * task.attempt }
    }

    withName: 'NFCORE_PIRA:PIRA:ASSEMBLY_PRE:STRINGTIE_CLEAN' {
        cpus   = { 1                   }
        memory = { 4.GB * task.attempt }
        time   = { 1.h  * task.attempt }
    }

    withName: 'NFCORE_PIRA:PIRA:ASSEMBLY_TRANSCRIPT:STRINGTIE_STRINGTIE' {
        cpus   = { 8                    }
        memory = { 32.GB * task.attempt }
        time   = { 2.h  * task.attempt  }
    }

    withName: 'NFCORE_PIRA:PIRA:ASSEMBLY_MERGE:STRINGTIE_MERGE' {
        cpus   = { 4                    }
        memory = { 72.GB * task.attempt }
        time   = { 4.h  * task.attempt  }
    }

    withName: 'NFCORE_PIRA:PIRA:SPLICING_LENGTH:RMATS_LENGTH' {
        cpus   = { 1                   }
        memory = { 1.GB * task.attempt }
        time   = { 1.h  * task.attempt }
    }

    withName: 'NFCORE_PIRA:PIRA:.*:RMATS_PRE' {
        cpus   = { 8                    }
        memory = { 32.GB * task.attempt }
        time   = { 4.h  * task.attempt  }
    }

    withName: 'NFCORE_PIRA:PIRA:.*:RMATS_POS' {
        cpus   = { 8                    }
        memory = { 32.GB * task.attempt }
        time   = { 4.h  * task.attempt  }
    }

}

executor {
    queueSize = 100
    queueStatInterval = '3 min'
    pollInterval = '1 min'
    submitRateLimit = '10 sec'
}

timeline {
    enabled = true
}

trace {
    enabled = true
}
